---
import Layout from "../layouts/Layout.astro";
import DateTime from "../components/dateTime.astro";
import Activity from "../components/activity.astro";
import activities from "../../public/data/actividades.json";
---

<Layout>
  <main class="bg-christmas bg-repeat-y bg-contain bg-center w-full min-h-screen py-6 shadow-xl">
    <!-- <span class="bg-white absolute top-0 left-0 w-full h-full opacity-30"></span> -->
    <div class="relative mb-14">
      <h1
        class="text-5xl md:text-6xl text-center text-balance text-christmas-pastel relative z-10 pt-6 pb-12 md:pb-18 lg:pb-24 bg-christmas-green">
        Navidad 2024 <br />Mata de Alcántara
        <img
          class="absolute bottom-0 -translate-x-1/2 left-1/2"
          src="./santa-sale.png"
          alt="Santa Sale"
        />
      </h1>
    </div>
    <section class="px-4">
      {
        activities.map(({ day, isLeft, activities }) => (
          <DateTime
            day={day}
            isLeft={isLeft}>
            {activities.map((activity) => (
              <Activity {...activity} />
            ))}
          </DateTime>
        ))
      }
    </section>
  </main>
</Layout>
<!-- #A85545 color para el texto -->
