---
const { day, isLeft } = Astro.props;
---

<section
  class="relative flex flex-col gap-4 w-full md:w-10/12 lg:w-6/12 m-auto bg-christmas-green p-4 mb-20 rounded-lg">
  <span
    class:list={[{ " -rotate-12 left-0": isLeft, "rotate-12 right-0": !isLeft }]}
    class="position absolute top-0 -translate-y-3/4 bg-christmas-green text-white p-4 grid place-content-center rounded-lg text-4xl shadow-2xl shadow-black z-40">
    {day}
  </span>
  <slot />
</section>
