---
import "@fontsource/pushster";
import "@fontsource/mountains-of-christmas";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
      initial-scale="1"
    />
    <meta
      property="og:url"
      content="https://navidad-2024.matadealcantara.com"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content="Calendario de Navidad 2024 en Mata de Alc치ntara - C치ceres"
    />
    <meta
      property="og:description"
      content="Calendario de actividades y eventos para Navidad 2024 游꾻. Ven a disfrutar con nosotros esta Navidad en 游끼 Mata de Alc치ntara, C치ceres."
    />
    <meta
      property="og:image"
      content="https://navidad-2024.matadealcantara.com/og-image.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
    />
    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "https://matomo.consoleblog.es/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "6"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    <title>Calendario de Navidad 2024 - Mata de Alc치ntara - C치ceres</title>
  </head>
  <body class="antialiased relative">
    <slot />
    <div class="fixed bottom-0 left-0 w-full h-20 md:h-48 bg-white/90 z-50">
      <img
        class="fixed bottom-2 left-0 h-20 md:h-52 lg:h-60 drop-shadow-xl"
        src="/cascanueces.png"
        alt="Cascanueces"
      />
      <img
        class="fixed top-0 right-0 w-20 md:w-40 lg:w-50 lg:right-10 z-50"
        src="/bola-verde.png"
        alt="bola verde"
      />
      <img
        class="fixed bottom-2 right-6 z-50 w-16 md:w-36 lg:w-40 lg:right-20"
        src="./escudo_navidad.png"
        alt="Escudo de la Mata de Alc치ntara"
      />
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Pushster", system-ui;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Mountains of Christmas", sans-serif;
    font-weight: bold;
  }
</style>
